@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans&display=swap');


body {
    background-color: #eae7dc;
    overflow-x: hidden;
}

#parent {
    margin: auto;
    width:100%;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}

#sections {
    position: relative;
    display: inline-block;
    width:34%;
    /* max-width: 500px; */
    height: 100%;
    left: 5%;
    margin-top: 4%;
    z-index: 90;
    color: #6e6c68;
}

#viz {
    display: inline-block;
    position: fixed;
    top: 0px;
    z-index: 1;
    margin-left: 10%;
    margin-top: 4%;
    height: 100%;
    width: 58%;
}

#tooltip {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, .7);
    border-radius: 3px;
    box-shadow: -3px 3px 15px #939393;
    color: white;
    padding: 6px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
    max-width: 400px;
    z-index: 100;
}

.step {
    margin-bottom: 10%;
    height: 70%;
    font-family: "Noto Serif", serif;
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
}

h1 {
    font-size: 35px;
    font-size: 2.5vw;
    color:#4f4e4c;
}

h2 {
    font-weight: 700;
    text-align: left;
    line-height: 48px;
    color:#4f4e4c;
    font-size: 1.8vw;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-size: 1.2vw;
    font-weight: 500;
    color:#807e7c;
}

p {
    font-size: 1.2vw;
    line-height: 1.4vw;
}

strong {
    color: rgb(70, 159, 255);
}


.tick line {
    stroke: 'red'
}

svg circle:hover{
    cursor: pointer;
}

.swatch {
    /* fill: #939393; */
    fill: #d8c3a5;
}

a {
    color: #e98074;
    text-decoration: none;
}

img {
    display: none;
}

.categoryLegend {
    font-family: "Noto Serif", serif;
    color:#8e8d8a;
}

.categoryLegenda {
    font-family: "Noto Serif", serif;
    color:#8e8d8a;
}

.categoryLegend2 {
    font-family: "Noto Serif", serif;
    color: #8e8d8a;
}

.categoryLegend3 {
    font-family: "Noto Serif", serif;
    color: #8e8d8a;
}

.categoryLegend4 {
    font-family: "Noto Serif", serif;
    color: #8e8d8a;
}

.highlighter {
    background-color: #FFFF00
}

.line1 {
    fill: none;
    stroke-width: 2px;
  }

.line2 {
    fill: none;
    stroke-width: 2px;
  }

.linelabel1 {
    fill: none;
}

.linelabel2 {
    fill: none;
}